<!DOCTYPE html>
<html>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<head>
    <title>NG800/VCU Pro UI</title>
    <link type="text/css" rel="stylesheet" href="{{ static_url('styles.css') }}">
    <link rel="shortcut icon" href="{{ static_url('favicon.ico') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ static_url('apple-touch-icon.png') }}">
    <link rel="manifest" href="{{ static_url('manifest.json') }}">
</head>

<body>
    <h1>{{ title }}</h1>

    <div style="overflow:auto">
        <div class="menu">
            <div class="btn-group">
                <button class="button" onclick="window.location.href = '/'">Home</button>
                <p></p>
                <button class="button" onclick="window.location.href = '/traffic'">Refresh Page</button>
            </div>
        </div>

        <div class="main">
            {% if data['traffic-wwan0'] == 'true' %}
                <table>
                    {% if table %}
                        {% for entry in table %}
                        <tr>
                            <td>{% raw entry.header %}</td>
                            <td>{% raw entry.text %}</td>
                        </tr>
                        {% end %}
                    {% end %}
                </table>

                <p></p>
                <img class="img_traffic" src="/traffic/img/summary.png">
                <p></p>
                <img class="img_traffic" src="/traffic/img/daily.png">
                <p></p>
                Note: Values are updated every five minutes.
            {% else %}
                Sorry, there is no traffic logging present on this device. Consider upgrading to a newer release.
            {% end %}
            <p></p>
            <p></p>
        </div>
    </div>

    {% include 'footer.html' %}

</body>

</html>